<form action="/registro" method="POST">
    <input type="email" name="email" placeholder="Inserta el correo">
    <input type="password" name="password" placeholder="Inserta tu password">

    <button type="submit">Registro</button>
</form>